body {
  font-family: "Inter", sans-serif;
  display: flex;
  padding: 20px;
}

.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.timeline-container {
  padding: 20px;
}

.timeline-item {
  display: flex;
  margin-bottom: 30px;
}

.timeline-content {
  width: 320px;
  text-align: right;
  transition: transform 0.5s;
}

.date {
  font-size: 1em;
  color: #666;
  min-width: 80px;
  line-height: 2.4;
  transition: transform 0.5s;
  display: inline-block;
  display: flex;
}

h3 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.2em;
  margin: 0;
  color: #3b3b3b;
}

.description {
  font-size: 1em;
  color: #666;
  margin: 10px 0;
}
.separat {
  line-height: 2.4;
  height: 10px;
  width: 10px;
  background: rgba(35, 192, 35, 0.796);
  border-radius: 50%;
  margin: 12px 24px;
  box-shadow: 0px 0px 0px 8px rgba(237, 246, 244, 0.696);
  position: relative;
}
.separat::before {
  content: "";
  position: absolute;
  top: 20px;
  right: 5px;
  width: 1px;
  height: 100px;
  background-color: rgba(128, 128, 128, 0.195);
}
.timeline-item:last-child .separat::before {
  display: none;
}
.label {
  padding: 5px;
  background-color: whitesmoke;
  color: gray;
  border-radius: 99px;
  font-family: "Space Grotesk", sans-serif;
  font-size: 14px;
  font-weight: 800;
}
.timeline-item:hover .timeline-content {
  transform: translateX(120%);
  text-align: left;
  
}

.timeline-item:hover:hover .date {
  transform: translateX(-170%);
  animation: date-slip-right 0.4s ease-out;
}

.timeline-item:hover .label {
  color: white;
  background-color: rgba(149, 72, 17, 0.819);
}
.back-img img {
  position: absolute;
  left: 60%;
}
.sub-img img {
  position: absolute;
  left: 54%;
  top: 27%;
}
.text-img {
  display: inline-block;
  height: 332px;
  width: 177px;
  background-color: rgb(56, 56, 174);
  left: 841px;
  position: absolute;
  top: 28%;
}
.text-img span {
  font-size: 50px;
  position: relative;
  top: 69%;
  left: 39%;
  font-weight: 700;
  letter-spacing: 1px;
  color: white;
}
.text-img p {
  position: relative;
  top: 65%;
  left: 25%;
  color: white;
}
.timeline-item:hover .first-nb {
  transform: translatex(100%);
  transition: transform 0.5s;
}
.timeline-item:hover .dash {
  transform: translatex(-170%);
  transition: transform 0.5s;
}
.timeline-item:hover .last-nb {
  transform: translatex(-160%);
  transition: transform 0.5s;
}