  body {
    margin: 50px auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
  }
  .container {
    font-family: "Inter", sans-serif;
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    gap: 20px;
  }
  .box {
    font-family: "Space Grotesk", sans-serif;
    background-color: white;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    padding: 20px;
    width: 300px;
    height: 200px;
    position: relative;
    overflow: hidden;
  }
  .box h3 {
    margin: 30px 0 10px 0;
    font-size: 1,25em;
  }
  .box p {
    margin: 0;
    color: #666;
    font-family: "Inter", sans-serif;
  }
  .box h3,
  p,
  a,
  i:not(.fa-arrow-right) {
    left: 10px;
    position: relative;
  }
  .box i {
    font-size: 40px;
    color: sienna;
  }
  .box:hover {
    border: none;
    z-index: 1;
  }
  .box:hover .link {
    display: flex;
  }
  .box:hover i:not(.fa-arrow-right) {
    display: none;
  }
  .link a {
    text-decoration: none;
    color: white;
  }
  .link i {
    font-size: 15px;
    color: #ccc;
  }
  .link:hover {
    display: flex;
  }
  .arrow {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    font-size: 5px;
    cursor: pointer;
    margin-left: 15px;
  }
  .link .arrow:hover i {
    color: #000;
    background-color: #fff;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 25px;
    height: 25px;
  }
  .box:hover .text,
  .link a .arrow {
    transform: translateY(-15%);
    color: #fff;
    transition: transform 0.5s;
  }
  .box:hover.link,
  a,
  .arrow {
    transform: translateY(-15%);
    color: #fff;
    transition: transform 1s;
  }
  .box a,
  .arrow {
    position: relative;
    top: 80%;
  }
  .box:hover p {
    color: #fff;
  }
  .box:nth-child(1):hover::before,
  .box:nth-child(2):hover::before,
  .box:nth-child(3):hover::before,
  .box:nth-child(4):hover::before,
  .box:nth-child(5):hover::before,
  .box:nth-child(6):hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 500px;
    background-color: rgba(151, 89, 74, 0.371);
    z-index: -1;
    margin: 0 auto;
  }
  .box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 300px;
    z-index: -9;
    display: none;
  }
  .box:hover img {
    display: block;
  }
  .border-img {
    position: absolute;
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    border: 1px solid #ffffff;
  }