* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}
body {
    font-family: "SVN-Poppins", sans-serif;
}
header {
position: fixed;
top: 0;
right: 0;
background: rgb(248, 241, 228);;
width: 100%;
z-index: 997;
}

header .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


header .nav img {
    height: 63px;
    object-fit: cover;
}
.search-box {
    position: relative;
    display: flex;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    margin: 0px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
 }

.search-box input[type="text"] {
    flex: 1;
    padding: 10px 15px;
    border: none;
    font-size: 16px;
 }

.search-box button {
    height: 43px;
    top: -2px;
     right: 0;
    width: 50px;
    position: absolute;
    width: 50px;
    background-color: #d32f2f;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
 }

.search-box button i {
    color: #fff;
    font-size: 18px;
}

.header-icon{
    position: relative;
    display: flex;
    gap: 16px;
    font-size: 23px;
}
.header-icon-cart span{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14px;
    height: 14px;
    font-size: 10px;
    right: 69px;
    top: -7px;
    border-radius: 50%;
    background: #e05000;
    color: #fff;
    font-weight: 500;
}
.header-icon-bar{
    display: none;
}

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.564);
    opacity: 0;
    visibility: hidden;
    z-index: 998;
    transition: 0.4s ease-in-out;
}
/*header-sub*/
.container .nav-sub{
    position: fixed;
    top: 65px;
    right: 0;
    background: #fff;
    box-shadow: 0px 1.667px 8.333px 0px rgba(0, 0, 0, 0.15);
    width: 100%;
    z-index: 999;
}
.container .nav-sub .img-sub{
    display: none;
}


.container .nav-sub  ul {
    position: relative;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

.container .nav-sub ul li {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 21.667px;
    display: flex;
    align-items: center;
}
.container  .nav-sub ul a {
    display: inline-block;
    padding: 20px 0;
    text-decoration: none;
    color: #2c2c2c;
} 


.container .nav-sub ul li .dropdown {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    margin-top: 243px;
}

.container .nav-sub ul li .dropdown a {
    display: block ;
    cursor: pointer;
    padding: 12px 16px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.858);
    background-color: #fff;
    box-sizing: border-box;
    margin: -1px;
    text-align: center;
}
.container .nav-sub ul li .dropdown a:hover {
    background-color: #f1f1f1;
    color: #333;
   
}

/* Hiển thị menu khi checkbox được checked */
.toggle-checkbox:checked+.toggle-label+.dropdown {
    display: block;
}

/* Kiểu cho label để trông giống nút bấm */
.toggle-label {
    cursor: pointer;
    display: inline-block;
    padding: 20px 48px;
}
.toggle-label i {
    display: none;
}

/*Banner*/
 .carousel {
    width: 100%;
    position: relative;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
 }

.control button {
     padding: 13px 13px;
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     border: none;
     cursor: pointer;
     background-color: black;
 }

.carousel .next {
     right: 0px;
     color: white;
     display: none;
 }

.carousel .prev {
    left: 0px;
    color: white;
     display: none;
 }
.carousel:hover .next,
.carousel:hover .prev {
    display: block;
}
.carousel img {
    width:100%;
    height: auto;
    object-fit: contain;
 }

.carousel .slide {
     display: none;
 }
.carousel .process {
     position: absolute;
     right: 50%;
     transform: translateX(50%);
     bottom: 20px;
 }

.carousel .dot {
    position: relative;
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 99px;
    border: 1px solid white;
    cursor: pointer;
 }

/*Option*/
.option{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.option label{
    font-size: 14px;
    font-weight: 600;
    color: #333;
}
.option select {
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #fff;
    color: #333;
    font-size: 14px;
    cursor: pointer;
    transition: border-color 0.3s;
    width: 150px;
}

.option select:hover{
    border-color: #888;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/*Product-home*/
.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 98%;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s ease;
    background-color: #fff;
    margin: 15px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.product-card .product-infor a {
    color: black;
}

.product-card .product-infor {
    border-top: 1px solid gray;
    padding: 15px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.product-card .product-infor h2 {
    font-size: 18px;
    color: #333;
    margin: 10px 0;
    font-weight: 600;
    line-height: 1.2;
}

.product-card .product-infor div {
    font-size: 16px;
    color: #ff5722;
    margin-bottom: 10px;
}

.product-card .product-infor p {
    min-height: 40px;
    font-size: 14px;
    color: #666;
    line-height: 1.5;
    margin-bottom: auto;

}

.product-card .product-infor button{
    background-color: orange;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}

.product-card .product-infor button a{
    color: white;
    font-size: 16px;
}

.product-card .product-infor button:hover{
    background-color: rgb(241, 159, 5);
    transition: transform 0.2s ease;
}





/*Chi tiết sản phẩm*/

.header-contenxt{
    margin-top: 200px;
    
}
.header-contenxt .container ul {
    display: flex;
    align-items: center;
    gap: 10px;
    /* Adds space between items */
    font-size: 13px;
}

.header-contenxt .container ul li {
    display: flex;
    align-items: center;
    color: rgb(85, 85, 85);
    font-weight: 400;
    font-size: 13px;
}

.header-contenxt .container ul li a {
    color: rgb(85, 85, 85);
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-decoration: none
}

/*Slider-sub*/
 .carousel-sub {
     width: 100%;
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 50px;
 }

 .control-sub button {
     padding: 13px 13px;
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     border: none;
     cursor: pointer;
     background-color: black;
 }

 .carousel-sub .next {
     right: 0px;
     color: white;
     display: none;
 }

 .carousel-sub .prev {
     left: 0px;
     color: white;
     display: none;
 }

 .carousel-sub:hover .next,
 .carousel-sub:hover .prev {
     display: block;
 }

 .carousel-sub img {
     width: 100%;
     height: auto;
     object-fit: contain;
 }

 .carousel-sub .slide {
     display: none;
 }
/*Content-home*/
.content-product{
    margin-top: 50px;
    position: relative;
    z-index: 100;
}
.content-product .header{
    text-transform: none;
    padding: 4px 8px;
    background: rgb(237, 74, 54);
    border-radius: 4px;
    width: fit-content;
    font-size: 10px;
    font-weight: 600;
    line-height: 16px;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}
.content-product h1{
    text-transform: none;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 15px;
}
.content-product .SKU{
    font-size: 16px;
    color: rgb(85, 85, 85);
    margin-bottom: 15px;
}

.content-product .content-sell{
    margin-bottom: 15px;
}
.content-product .content-sell ul{
    display: flex;
    align-items: center;
    gap: 10px;
}

.content-product .description{
    font-size: 16px;
    font-weight: 400;
    margin: 15px 0px;
    line-height: 18px;
}
.content-product .content-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content-product .content-price .price{
    margin: 0px 8px 0px 0px;
    color: rgb(201, 32, 39);
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
}

.content-product .content-price .stock{
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    margin-right: 4px;
    }
.content-product .content-price .stock img {
    width: 12px;
    height: 12px;
}
.content-product .promotion .line{
    margin: 16px 0px 0px;
    border-top: 1px dashed rgb(153, 153, 153);
    font-size: 14px;
}
.content-product .promotion .title{
    font-weight: 600;
    margin-bottom: 12px;
    margin-top: 16px;
}
.content-product .promotion .sale ul {
    list-style: none;
    padding: 0;
}

.content-product .promotion .sale ul li {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    gap: 2px;
    
}

.content-product .promotion .sale ul li p {
    color: #000;
    font-size: 14px;
}

.content-product .promotion .sale ul li strong{
    font-weight: 700;
    color: #e03e2d;
    
}
.content-product .promotion .sale ul li span{
    font-weight: 700;
    color: #000;
}
.content-product .promotion .sale ul li a{
    color: #3598db;
    cursor: pointer;
}
.content-product .product-box{
    background-color: rgb(201, 33, 39);
    border-radius: 2px;
    padding: 2px;
    margin-bottom: 18px;
    width: 186px;
    box-sizing: border-box;
}
.content-product .product-box .box{
    border-radius: 2px;
        padding: 4px 8px;
        display: flex;
        align-items: center;
        border: 1px dashed rgba(255, 255, 255, 0.4);
}
.content-product .product-box .box p{
    margin-left: 8px;
    font-size: 12px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    line-height: 16px;
}
.content-product .zalo {
    display: flex;
    align-items: center;

}
.content-product .zalo img {
    width: 32px;
    height: 32px;

}
.content-product .zalo p {
    color: rgb(47, 90, 207);
    font-weight: bold;
    font-size: 13px;
    margin-left: 4px;
    margin-right: 4px;
}

.content-product .stock{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-product .total{
    display: flex;
    gap: 10px;
    align-items: center;
}

.content-product .total span{
    font-size: 16px;
    font-weight: 600;
}

.content-product .quantity-text  {
    margin-bottom: 15px;
}

.content-product .quantity-control {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 6px;
    overflow: hidden;
    width: 100px;
    justify-content: space-between;
    
}

.content-product .quantity-control button {
    background-color: transparent;
    border: none;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    color: #333;
}

.content-product .quantity-control .left{
    border-right: 1px solid  #ccc;
    color: #ccc;
}
.content-product .quantity-control .right {
    border-left: 1px solid #ccc;
    
}
.content-product .quantity-control .quantity {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.content-product .buy {
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
    margin-bottom: 10px;
}
.content-product .buy button {
    width: 100%;
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.content-product .buy .buy-cart{
    background-color: rgb(255, 255, 255);
    border-width: 2px;
    border-style: solid;
    border-color: rgb(201, 32, 39);
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    cursor: pointer;
}
.content-product .buy .buy-cart:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.content-product .buy .buy-cart i {
    font-size: 24px;
    color: rgb(201, 32, 39);
}
.content-product .buy .buy-cart span{
    color: rgb(201, 32, 39);
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
}

.content-product .buy .buy-bag{
    border-radius: 6px;
    background-color: rgb(201, 32, 39);
    color: rgb(255, 255, 255);
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    cursor: pointer;
}
.content-product .buy .buy-bag:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
    transform: scale(1);
      
}

.content-product .buy .buy-bag i{
    font-size: 24px;
}

.content-product .buy .buy-bag span{
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
}
.content-product .market-product .market {
    width: 100%;
    height: 51px;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    border: 1px solid rgb(85, 85, 85);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
}
.content-product .market-product .market:hover{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.content-product .market-product .market p{
    color: rgb(85, 85, 85);
    font-size: 14px;
    font-weight: 600;
}
.content-product .line-sub{
    margin-top: 20px;
    height: 6px;
    width: 100%;
    background: rgb(250, 249, 248);
}
.content-product .service{
    display: flex;
    padding: 16px 0px;
}

.content-product .service img{
    width: 43px;
    height: 29px;
}
.content-product .service-sub{
    text-align: center;
    width: 33.33%;
    color: rgb(0, 0, 0);
}
.content-product .service p{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

/*Reviews chi tiết sản phẩm*/
.review{
    margin-top: 20px;
    position: relative;
} 
.review .review-header{
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    margin: 24px 0px;
}
.review .review-left,.review-right{
    padding: 16px 24px;
    background-color: rgb(250, 250, 250);
    border-radius: 8px;

}
.review .review-left-body,.review-right-body{
    box-sizing: border-box;
    display: flex;
    flex-flow: wrap;
    width: 100%;
}
.review .review-left .review-left-body .review-text-left{
    padding-right: 32px;
    padding-left: 24px;
    border-right: 1px solid rgb(238, 238, 238);
    text-align: center;
}
.review .review-left .review-left-body .review-text-left h3 span{
    font-weight: 500;
    margin-bottom: 8px;
}
.review .review-left .review-left-body .review-text-left .star{
    font-size: 16px;
    color: rgb(250, 175, 0);
    margin-bottom: 10px;
}
.review .review-left .review-left-body .review-text-left p{
    font-size: 14px;
    font-weight: 400;
}
.review .review-left .review-left-body .review-left-sub{
    padding-left: 32px;
}

.review .review-left .review-left-body .review-left-sub p{
    display: flex;
    gap: 4px;
    align-items: center;
}

.review .review-left .review-left-body .review-left-sub i{
    font-size: 10px;
    color: rgb(250, 175, 0);

}

.review .review-left .review-left-body .review-left-sub .review-first {
    background-color: rgb(255, 167, 0);
    width: 186px;
    height: 9px;
}
.review .review-left .review-left-body .review-left-sub span {
    background-color: rgb(233, 233, 233);
    
    height: 9px;
    width: 186px;
}

.review-star-sub {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.review-star-sub p {
    margin-right: 10px;
}

.review-first {
    display: block;
    height: 5px;
    /* Adjust height based on your design */
    background-color: #ffcc00;
    /* Star color */
    transition: width 0.3s ease;
}

.review .review-right {
    height: 142px;
}
.review .review-right .review-right-body p{
    font-size: 14px;
    line-height: 18px
}
/*footer-all page*/
.footer {
    margin-top: 50px;
}

.footer .container .row {
    justify-content: center;
}
.footer .container .row .footer-header {
    gap: 10px;
}
.footer .container .row .footer-header ,.footer-sub span {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    color: rgb(0, 0, 0);
    cursor: text;
}

.footer .container .row .footer-header ul{
   margin-top: 10px;
}

.footer .container .row .footer-header ul li a{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: rgb(0, 0, 0);
}

.footer .container .row .footer-img ul {
    display: flex;
}
.footer .container .row .footer-img ul li {
    margin: 10px 10px 10px 0px;
}
.footer .container .row .footer-img img{
    width: 24px;
    height: 24px;
}
.footer .container .row .footer-img span {
    font-size: 11px;
    line-height: 13px;
    font-weight: 400;
    color: rgb(0, 0, 0);
}
.footer .container .row .line{
    margin-top: 10px;
    margin-bottom: 24px;
    width: 100%;
    height: 1px;
    background: #a3a3a3;
}

.footer-sub{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .container .row .footer-sub ul li{
    font-size: 14px;
    line-height: 24px;
    color: rgb(0, 0, 0);
}
.footer .container .row .footer-notification img {
    width: 144px;
    height: 55px;
}

.footer-last{
    display: flex;
    background-color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    padding: 15px 0px;
}
.footer-last img {
    width: 157px;
    height: auto;
}
.footer-last{
    color: white;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
}



.reviews-list {
    margin-top: 20px;
}

.review-item {
    border: 1px solid #ddd;
    padding: 15px ;
    border-radius: 8px;
    margin-bottom: 15px;
}

.reviewer-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.review-stars {
    font-size: 16px;
    margin: 5px 0;
}

.review-comment {
    margin: 10px 0;
}

.review-date {
    color: #666;
    font-size: 13px;
}

.toggle-checkbox {
    display: none;
}
/*Reponsive*/
@media screen and (max-width: 1200px) {
.container {
 padding: 0 2rem;
}
}
@media screen and (max-width: 1199.98px) {
.container {
 padding: 0 2rem;
}
.footer .container .row .footer-header .row{
    justify-content: left;
}
}
@media screen and (max-width: 991.98px) {
 .container {
 padding: 0 2rem;
}
.header-icon-bar {
    display: block;
}
.container .nav-sub {
    position: absolute;
    left: 0;
    width: 200px;
    height: 1072vw;
    transform: translateX(-400px);
    transition: transform 0.4s ease;
    z-index: 999;
    top: 0;
}

#check:checked ~ section .container .nav-sub {
    transform: translateX(0);
}

#check:checked~ .overlay {
    visibility: visible;
    opacity: 1;

}
.container .nav-sub ul li{
    flex-direction: column;
}
.container .nav-sub ul li .dropdown{
    position: relative;
    margin-top: 0px;
    box-shadow: none;
}
.container .nav-sub .img-sub  {
    display: block;
    position: relative;
}
.container .nav-sub .img-sub .img-sub-first{
    width: 200px;
    height: 60px;
}
.container .nav-sub .img-sub .img-sub-second{
    position: absolute;
    width: 200px;
    left: 0;
    top: 15px;
}
.container .nav-sub ul {
    display: block;
}
.carousel {
    margin-top: 90px;
}
.product-card img {
    width: 60%;
    height: auto;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}
.option{
    display: grid;
}
.option select{
    width: 40%;
}
.toggle-label i {
    display: block;
    position: relative;
        top: -2px;
}
.toggle-label {
    gap: 6px;
    position: relative;
    display: flex;
    cursor: pointer;
    padding: 20px 50px;
    align-items: center;
}
.footer .container .row .footer-sub ul li{
    font-size: 12px;
}
}

@media screen and (max-width: 767.98px) {
.container {
 padding: 0 2rem;
}

  
}

@media screen and (max-width: 576.98px) {
 .container {
 padding: 0 2rem;
}

   
}











