// Import các tập tin SCSS khác
@import "reset";
@import "variables";
@import "mixins";
@import "grid.scss";
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



body {
    font-family: 'Sofia Sans', sans-serif;
    font-size: $font-size-base;
}

input, button, textarea, select {
    font-family: inherit;
   
    border: none;
}

a {
    text-decoration: $text-color;
}
a {
    color: #5f0099;
}
img {    
    vertical-align: middle;
    border-style: none;
}
.contact, .row {
    padding: 0;
    margin: 0;
}
.navbar {
    position: fixed;
    right: 0;
    left: 0;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    min-height: 50px;
    line-height: 50px;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
    background-color: #5e0099d7;;
    
    
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin: 0 auto;
        position: relative;
    }

    .navbar-brand {
        display: inline-block;
        padding-top: .3125rem; 
        padding-bottom: .3125rem; 
        margin-right: 20px; 
        font-size: 1.25rem;
        line-height: inherit;
        white-space: nowrap;
    }

    .navbar-toggler {
        padding: .25rem .75rem;
        font-size: 1.25rem;
        line-height: 1;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: .25rem;
        cursor: pointer;
        color: #fff;
        display: none;
    }

    // .collapse {
    //     position: relative;
       
    // }

    .navbar-nav {
        display: flex;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        margin-left: auto !important;
    }

    .nav-item {
        margin: 0 8px;
        padding: 0;

        a {
            color: #fff;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 13px;

            &:hover {
                color: #5f0099;
            }
            &.active {
                color: #5f0099 !important; 
        }
    }
    .navbar .nav-link {
        position: relative;
        padding: 0;   
    }
}
}

.banner {
    background: linear-gradient(to left, #7a60ff, #cd9ffa);
    padding: 100px 0;
    position: relative;

    &::before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: url(../scss/pattern.png);
        
    }
   
    .row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
        position: relative;
        z-index: 99;

        h2 {
            font-size: 2rem;
            font-weight: 700;
            margin-bottom: 10px;
        }

        h6 {
            font-weight: 600;
            .weblink {
                color: white;
                border-bottom: 1px dotted #ffffff;
            }
        }
        .single-feature {
            margin-bottom: 80px;
            margin-top: 40px;
        }


        .banner-text {
            padding-right: 80px;
            margin: 50px 0 0;
            color: #fff;

            p {
                margin: 40px 0;
            }

            ul li {
                display: inline-block;
                margin: 0 10px 10px 0;
            }

            ul li a img {
                width: 150px;
                border-radius: 7px;
            }
        }
    }

    .svg-wave {
        position: absolute;
        bottom: -3px;
        width: 100%;
    }
}

.section-padding {
    padding: 80px 0;

    .prelative {
        position: relative;
    }

    .sectioner-header {
        width: 60%;
        margin: 0 auto;
        text-align: center;

        h3 {
            font-size: 1.75rem;
            font-weight: 800;
        }

        .line {
            height: 2px;
            width: 50px;
            background: #8e1efc;
            display: block;
            margin: 20px auto;

            &::after {
                content: "";
                position: absolute;
                
                width: 150px;
                height: 2px;
                border-bottom: 2px dashed #8e1efc;
                margin-left: -75px;
            }
        }

        p {
            color: #818992;
            font-size: 17px;
        }
    }

    .section-content {
        margin-top: 80px;
        text-align: center;
        
        .icon-box {
            margin-bottom: 50px;
            padding: 0;
           

            i {
                display: block;
                position: relative;
                width: 135px;
                height: 135px;
                border-radius: 100px;
                background: linear-gradient(to left, #7a60ff, #cd9ffa);
                color: #ffffff;
                font-size: 50px;
                line-height: 135px;
                margin: 0 auto;
            }

            h5 {
                font-weight: 700;
                font-size: 1.25rem;
                margin-top: 30px;
            }

            p {
                color: #818992;
                font-size: 14px;
                width: 60%;
                margin: 0 auto;
            }
        }

        .about-btn {
            color: #8e1efc;
            padding: 10px 40px;
            border: 2px solid #8e1efc;
            border-radius: 7px;
            margin-top: 30px;
            display: inline-block;
            font-size: 18px;

            &:hover {
                background: #8e1efc;
                color: #ffffff;
                text-decoration: none;
            }
        }
    }
}

    .testimonial {
    background: linear-gradient(to left, #7a60ff, #cd9ffa);
    padding: 100px 0;
    position: relative;

    &.testimonial::before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: url(../scss/pattern.png);
    }
    .row{
        position: relative;
        z-index: 99;
    }
    .single-feature h5 {
        font-size: 16px;
        font-weight: 600;
        color: #fff;
        margin-bottom: 10px;
    }
    .single-feature {
        margin-bottom: 80px;
        margin-top: 40px;
    }
    .single-feature p {
        font-size: 13px;
        margin-top: 0;
        margin-bottom: 1rem;
    }
    .media {
        display: flex;
        align-items: flex-start;
    }
    .media-right-margin {
        margin-right: 25px;
    }
    .text-right {
        text-align: right !important;
        color: #fff;
    }
    .media-body {
        flex: 1;
    }
    .icon-border span {
        display: block;
        position: relative;
        width: 50px;
        height: 50px;
        border-radius: 100px;
        color: rgb(142, 30, 252);
        font-size: 18px;
        line-height: 50px;
        border: 1px solid rgb(142, 30, 252);
    }
    .text-left {
        text-align: left !important;
        color: #fff;
    }   
}
.team {
    background: #fafafa;
    border-top: 1px solid #e4e4e4;
  
    .section-padding {
    padding: 80px 0px;
    }
    .team-detail img {
        border-radius: 50%;
        width: 70%;
    }
    .img-fluid {
        max-width: 100%;
        height: auto;
    }
    .team-detail h4 {
        color: rgb(142, 30, 252);
        margin-top: 20px;
        font-size: 17px;
        margin-bottom: 0px;
        font-weight: 600;
    }
    .team-detail {
        margin-top: 40px;

        p{
            font-size: 14px;
            margin: 3px 0 0px;
        }
    }
}
.testimonial-sub {
    background: #7a60ff;
    background: linear-gradient(to left, #7a60ff, #cd9ffa);
    padding: 100px 0px;
    position: relative;
    height: 600px;


    &.testimonial-sub::before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: url(../scss/pattern.png);
    }
    .row{
     justify-content: center;
    }
    .white {
        color: #ffffff !important;
    }
    .card {
        width: 600px;
        height: 160px;
        padding: 20px;
        background-color: #f0f4ffdc;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: left;
        position: relative;
       
        margin-bottom: 100px;
      
        .card-content {
          display: flex;
          align-items: center;
          
      
          .profile-picture {
            position: relative;
            width: 218px;
            height: 120px;
            border-radius: 50%;
            overflow: hidden;
            border: 12px solid #fff;
            left: -31px;
      
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
      
          .text-content {
            span {
              margin: 0;
              font-size: 1.5em;
              font-weight: 700;
              color: #2d2d2d;
            }
      
            .title {
                display: block;
                position: relative;
                margin: 0 0 20px;
                font-size: 1.125em;
                line-height: 1.25;
            }
      
            .description {
               
               
                line-height: 1.25;
            }
          }
        }
        .icon-arrow-left {
            position: relative;
            right: 100px;
          }
          .icon-arrow-right {
            position: relative;
            left: 100px;
          }
          i {
            font-size: 1.2rem;
            color: #fff;
            border: 0.5px solid #fff;
            border-radius: 50%;
            padding: 0.5rem;
          }
        
}
}

.contact{
    .section-padding {
        padding: 80px 0px;
    }
    
    .section-content {
        margin-top: 80px;
    
    #contact_form .form-input {
        border: 1px solid #e4e4e4;
    }
    .w-77{
        width: 93% !important;
    }
    .w-100 {
        width: 100% !important;
    }
    .col {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
    }
    input {
        height: 42px;
        padding: 0 1rem;
        background: #fff;
        border-radius: 30px;
        margin-bottom: 1rem;
        border: 0;
    }
    #contact_form textarea {
        resize: none;
        padding: 1rem;
        height: 150px;
        background: #fff;
        border: 0;
        border-radius: 30px;
        margin-bottom: 1rem;
        transition: all 0.3s ease-in-out;
    }
    .contact-info {
        padding: 2rem 2rem 1rem;
        border-radius: 8px;
        background: #7a60ff;
        background: linear-gradient(to left, #7a60ff, #cd9ffa);
    }
    .white {
        color: #ffffff !important;
    }
    .contact-item {
        margin: 23px 0px;
    }
    .contact-item i {
        font-size: 20px;
    }
    .media-body {
        
        flex: 1;
    }
    .contact-item p {
        line-height: 20px;
        margin: 0;
        text-align: left;
        margin-left: 20px;
    }
    .media {
    display: flex;
    align-items: flex-start;
    }
    .text-uppercase {
        text-transform: uppercase !important;
    }
    .text-white {
        color: #fff !important;
    }
    .btn-grad {
        padding: .7rem 2rem;
        display: inline-block;
        color: #fff;
        border-radius: 2rem;
        border: 0;
       
        background: linear-gradient(to left, #7a60ff, #cd9ffa);
        cursor: pointer;
    }
}
}
.download {
    background: linear-gradient(to left, #7a60ff, #cd9ffa);
    padding: 100px 0px;
    position: relative;

   &.download::before{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../scss/pattern.png);
    }
    ul {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
     li a img {
        width: 150px;
        border-radius: 7px;
        padding: 0px 5px;
    }
}
.footer-copy {
    background: #ffffff;
    color: #242424;
    font-size: 13px;
    text-align: center;
    padding: 15px 0px;
}
@media screen and (max-width: 992px ){
    .navbar .navbar-toggler{
    display: block!important;
   }
   .navbar-nav{
    position: absolute;
    flex-direction: column;
    left: 0;
    top: 68px;
    text-align: center;
    background-color: white;
    width: 100%;
    margin: 0 auto;
    transition-property: opacity visibility;
    opacity: 0;
    visibility: hidden;
    transition: transform 0.4s ease;
   }
   .navbar .nav-item a {
    color: black;
   }
   .navbar .nav-item a.active {
    color: black!important;
   }
   .navbar {
    #check{
        &:checked{
            & ~.container {
                .collapse{
                   .navbar-nav{
                    opacity: 1;
                    visibility: visible;
                   }
                }
            }
        }
    }

   }
   .testimonial .single-feature {
    margin-left: 30px;
   }
   .testimonial-sub .card {
    width: 450px;
    height: 160px;
    }
    .testimonial-sub .card .card-content .profile-picture {
    top: -24px;
    height: 90px;
    width: 200px;
    }
    .fa-dollar-sign{
    top: -4px;
    }
    .testimonial .text-left {
    position: relative;
    top: -13px;
    }

}
@media screen and (max-width: 767px ){
    .team,.download,.footer-copy {
        .row{
            justify-content: center;
        }
    }
    .feature-mobile{
        display: none;
    }
    .testimonial-sub .card .icon-arrow-left,.testimonial-sub .card .icon-arrow-right {
        display: none;
    }
    .testimonial-sub .card {
        position: relative;
        width: 425px;
        height: 280px;
        top: -46px;
    }
    .text-content{
        position: absolute;
        top: 154px;
    }
    .testimonial-sub .card .card-content .profile-picture {
        top: -13px;
        height: 131px;
        width: 148px;
        left: 120px;
    }
    .text-content span{
        position: relative;
        display: flex;
        justify-content: center;
        left: -10px;
    }
    .text-content .title{
        left: 138px;

    }

}
@media screen and (max-width: 567px) {
    .contact .row {
        display: flex;
        justify-content: center;
    }
    .banner .row {
     padding-left: 10px;
    }
}