body {
    font-family: "Asap", sans-serif;
    margin: 0;
    padding: 0;
  }
  .banner {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  .banner img {
    width: 100%;
  }
  .banner-text {
    position: absolute;
    top: 30%;
    left: 5%;
    color: white;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1em;
    border-radius: 5px;
    max-width: 50%;
    max-height: 60%;
    display: inline-block;
  }
  .banner-text h2 {
    color: #bf4240;
    margin: 0;
    font-weight: 900;
    padding: 10px 0px;
  }
  .banner-text p {
    color: #3f3424;
    font-size: 1em;
    margin: 0.5em 0;
  }
  .banner-price {
    position: absolute;
    top: 65%;
    left: 44%;
    background-color: #bf4240;
    color: white;
    padding: 16px 32px;
    border-radius: 5px;
    font-size: 1em;
  }
  .fa-location-dot {
    color: #3f3424;
    margin-right: 5px;
  }