@use "./variables" as *;
.content {
  margin-top: 200px;

  .section-header {
    width: 50%;
    margin: 0 auto;
    text-align: center;

    h3 {
      color: $colorText;
      font-size: 31.667px;
      font-style: normal;
      font-weight: 800;
      line-height: 41.649px;
      margin-bottom: 24px;
    }
    p {
      color: $colorText;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 20.417px;
    }
  }
  .row {
    justify-content: center;
    .section-content {
      position: relative;
      margin-top: 115px;
      .row .box-content {
        position: absolute;
        top: -115px;
        left: -15px;
        width: 235px;
        height: 235px;
      }
      .box-content-footer {
        position: relative;
        top: -90px;
        left: 178px;
        width: 235px;
        height: 235px;
      }
      .icon-box {
        position: relative;
        border-radius: 3.333px;
        background: $backGroundWhite;
        box-shadow: -5.833px 8.333px 72.5px 0px rgba(54, 54, 54, 0.12);
        padding: 60px 0px 60px 20px;
        z-index: 99;
        &.center {
          padding: 100px 0px 100px 20px;
          top: -40px;
        }
        img.box {
          position: relative;
          top: -37px;
          border-radius: 10px;
          background: #fff0e7;
          padding: 20px;
          z-index: 20;
          &.center {
            background-color: #f2ffec;
          }
        }
        .icon-box img {
          width: 83.333px;
          height: 83.333px;
          border-radius: 10px;
          background: #fff0e7;
          z-index: 999;
        }
        h3 {
          color: $colorText;
          font-size: 43.333px;
          font-style: normal;
          font-weight: 800;
          line-height: normal;
        }
        p {
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 30.833px;
        }
      }
    }
  }
}
