@use "./variables" as *;
header {
  position: fixed;
  top: 0;
  right: 0;
  background: $backGroundWhite;
  box-shadow: 0px 1.667px 8.333px 0px rgba(0, 0, 0, 0.15);
  width: 100%;
  z-index: 9999;

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      height: auto;
      object-fit: cover;
    }

    .nav-sub {
      margin-left: auto;
      ul {
        list-style: none;
        display: inline-flex;
        gap: 50px;
        li {
          font-size: 16.667px;
          font-style: normal;
          font-weight: 600;
          line-height: 21.667px;
        }
        a {
          display: inline-block;
          padding: 35px 0;
          text-decoration: none;
          color: $colorText;
          &:hover {
            color: $colorPrimary;
            border-bottom: 2px solid $colorPrimary;
          }
        }
        .link {
          color: $colorPrimary;
          border-bottom: 2px solid $colorPrimary;
        }
      }
    }
    .nav-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      img {
        width: 25px;
        height: 22.283px;
        margin-left: 50px;
      }
      span {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 14px;
        height: 14px;
        font-size: 10px;
        right: -6px;
        top: -6px;
        border-radius: 50%;
        background: #e05000;
        color: $backGroundWhite;
        font-weight: 500;
      }
    }
    .nav-icon-sub {
      width: 25px;
      height: 22.283px;
      margin-left: 50px;
    }
    .bar {
      margin-left: 20px;
      cursor: pointer;
      display: none;
    }
    .overlay {
      position: fixed;
      inset: 0;
      background: rgba(0, 0, 0, 0.564);
      opacity: 0;
      visibility: hidden;
      transition: 0.4s ease-in-out;
    }
  }
}
